<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup form</title>
</head>
<body>
    <form action="" method="post"novalidate>
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}
        {% if form.non_field_errors %}
            
        {% for error in form.non_field_errors %}
            <p>{{error}}</p>
        {% endfor %}
            
    {% endif %}
        
        {% for fm in form %}
            {{fm.label_tag}} 
            {{fm}}
            {{fm.errors|striptags}} <br><br>
            {% comment %} striptags simply remove the html from the error messages {% endcomment %}
        {% endfor %}
            
        <button type="submit">submit</button>
    </form>
    {% if messages %}
      
      {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
      {% endfor %}
        
    {% endif %}
    <a href="{% url 'login' %}">Log IN</a>
</body>
</html>